* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: 17px;
  color: #1d1d1f;
  line-height: 1.47059;
  letter-spacing: 0.022em;
  font-weight: 400;
  color: #1d1d1f;
  font-style: normal;
}

body {
  margin-top: 44px;
}
a {
  text-decoration: none;
}
a,
img {
  margin: 0px;
  padding: 0px;
}

.df {
  display: flex;
  align-items: center;
  
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}

nav {
  margin: 0px;
  padding: 0px;
}
.align-items-center {
  align-items: center;
}

.center {
  justify-content: center;
}
.align-self-center {
  align-self: center;
}
.text-center {
  text-align: center;
}
.flex-col {
  flex-direction: column;
}
.jc-between {
  justify-content: space-between;
}
.divider {
  margin-top: 12px;
}
ul {
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ---------------------------------------------------- */
.main-header {
  background: #000000cc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.main-nav {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 12px;
}
.main-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.navLink {
  line-height: 44px;
  color: #f5f5f7;
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  font-size: 14px;
  height: 44px;
  display: block;
  font-family: "SF Pro Text Regular", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 10px;
}
.navLink:hover {
  opacity: 1;
}
.menu {
  width: 30px;
  height: 30px;
  background: url("../ima/mobile-menu.svg") center center no-repeat;
  background-size: 50%;
  margin-left: 0 !important;
}
.mobile-menu {
  display: none;
}
.logo-nav {
  background: url("../image/apple-nav.svg") no-repeat center center;
  background-size: 16px 44px;
  width: 16px;
}
.search-nav {
  background: url("../image/search.svg") no-repeat;
  background-size: 18px 88px;
  width: 18px;
}
.shop-nav {
  background: url("../image/shop.svg") no-repeat center center;
  background-size: 17px 44px;
  width: 17px;
}
/* =================================================================================== */
/* ===================================  Navbar =================================== */
/* =================================================================================== */

.navbar-item {
  font-size: 14px;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text Regular", "Arial", sans-serif;
  font-weight: 400;
}

.nav-shop {
  color: #4076d0;
}
.nav-shop:hover {
  text-decoration: underline;
}
.navbar-light {
  background-color: #f5f5f7;
}
.navbar-s {
  padding: 12px 0;
  font-size: 14px;
}
.undermenu{
  text-align: center;
  
}
/* =================================================================================== */
/* ===================================  Main =================================== */
/* =================================================================================== */

.title {
  font-family: "SF Pro Display";
 
}
.section-white .title{
  font-size: 56px ;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  font-weight: 600;
  font-style: normal;
  padding-top: 47px;
}
.section-dark .title{
  font-size: 56px ;
  line-height: 1.07143;
  letter-spacing: -0.005em;
  font-weight: 600;
  font-style: normal;
  padding-top: 47px;
}
.title > sup{
  font-size: 0.45em;
}

.title-sub {
  font-family: "SF Pro Display";
  font-style: normal;
  font-size: 28px;
  margin-top: 6px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
}

.title-body {
  margin-top: 5px;
  letter-spacing: 0.626px !important;
  color: #86868b;
}

/*----------------*/

.grid .title {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  margin-top: 53px;
}
.grid .title-sub {
  font-size: 21px;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: .016em !important;
}
.grid .title-link a {
  font-size: 17px ;
}
.minicontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*-stream now-*/
.streamnow{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.dot {
  height: 18px;
  width: 18px;
  background-color:white;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 5px;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #4e5124;
  position: absolute;
  margin-top: 4px;
  margin-left: 7px;
}
.corman{
  display: flex;
  flex-direction: column;
 
}
.cormanlogo{
  margin-bottom: 20px;
}
/*--*/

.section-dark .title-link a {
  color: #2895fc !important;
}

.title-link a {
  font-size: 21px;
  margin: 0px 15px 0px 15px;
  color: #06c;
}

.link-blue:hover {
  text-decoration: underline;
}

.bg-img1 {
  background-image: url("../image/sec1/iphone_12_updated__jepm2xpxncuy_large.jpg");
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
}

.bg-img2 {
  background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
}

.bg-img3 {
  background-position: bottom center;
  height: 580px;
  background-size: 3010px 624px;
  background-repeat: no-repeat;
  background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_large.jpg");
}

/* 1487 */
/* 1680 */

/* Responsive */
@media only screen and (min-width: 1069px) and (min-height: 776px) {
  .bg-img1 {
    background-image: url("../image/sec1/iphone_12_updated__jepm2xpxncuy_largetall.jpg");
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
  .bg-img2 {
    background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_largetall.jpg");
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
  .bg-img3 {
    background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_largetall.jpg");
    background-size: 3008px 738px !important;
    height: 690px !important;
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) {
  .bg-img1{
    background-image: url("../image/sec1/iphone_12_updated__jepm2xpxncuy_medium.jpg") !important;
  }
  .bg-img2{
    background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_medium.jpg") !important;
  }
  .bg-img3{
    background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_medium.jpg") !important;
  }
 
  .bg-img1, .bg-img3, .bg-img2{
    height: 570px !important;
    background-size: 1068px 617px !important;
  }
  .child1, .child2, .child3, .child4,.child5, .child6{
   
    height: 500px !important;
  }
  .grid-item{
    height: 500px !important;
  }
  .child1{
    background-image: url(../image/grid1/promo_imac__crg641tip4q6_medium.jpg) !important;
  }
  .child2{
    background-image: url(../image/grid2/promo_watch_series_6_lte__f8lrasjnry2y_medium.jpg) !important;
  }
  .child3{
    background-image: url(../image/grid3/promo_bts__bg3cb4kaoqoi_medium.jpg) !important;
  }
  .child4{
    background-image: url(../image/grid4/tile__cauwwcyyn9hy_medium.jpg) !important;
  }
  .child5{
    background-image: url(../image/grid5/tile__cauwwcyyn9hy_medium.jpg) !important;
  }
  .child6{
    background-image: url(../image/grid6/promo_mr_corman__fogppmig13iy_medium.jpg) !important;
  }
  .cormanlogo{
    width: 200px;
  }
  .grid .title{
    font-size: 32px !important;
  line-height: 1.125 !important;
  
  letter-spacing: .002em !important;
  }
  .grid .title-sub{
    font-size: 19px !important;
    line-height: 1.21053 !important;
    font-weight: 400 !important;
    letter-spacing: .012em !important;
  }
  .grid .title-link a {
    font-size: 17px !important;
    line-height: 1.23536 !important;
    font-weight: 400 !important;
  }
  .title > sup{
    font-size: 14px !important;
    font-weight: 800 !important;
  }
  .undermenu{
    
    max-width: 500px;
  }
  .grid-2-item .title{
    margin-top: 26px !important;
  }
  .grid-4-item .title{
    margin-top: 26px !important;
  }
  .grid-4-item .title-sub{
    max-width: 200px;
  }
  .section-dark .title{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
  }
  .section-white .title{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
  }
  .section-white .title-sub{
    font-size: 24px !important;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
  }
  .section-dark .title-sub{
    font-size: 24px !important;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
  }
  .title-link a{
    font-size: 19px !important;
    line-height: 1.21053 !important;
    font-weight: 400 !important;
  }
  .right:after{
    width: 6px !important;
    height: 6px !important;
  }
 

}
@media only screen and (max-width: 767px) {
  footer{
    padding: 15px !important;
  }
  .footer1 div{
    font-size: 1em !important;
    letter-spacing: 0.3px !important;
  }
  .f3-2 >a:nth-child(1){
    padding-left: 0px !important;
  }
  .footer3{
    flex-direction: column-reverse;
  }

  .f3-2{
    order: -1;
    padding-top: 5px;
  }
  .f3-1{
    padding-top: 12px;
  }
}
@media only screen and (max-width: 734px) {
  .undermenu{
    
    max-width: 320px;
  }
  .section-dark .title{
    font-size: 32px !important;
    line-height: 1.125 !important;
    font-weight: 600 !important;
    letter-spacing: .004em !important;
  }
  .section-white .title{
    font-size: 32px !important;
    line-height: 1.125 !important;
    font-weight: 600 !important;
    letter-spacing: .004em !important;
  }
  .section-white .title-sub{
    font-size: 19px !important;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
  }
  .section-dark .title-sub{
    font-size: 19px !important;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
  }
  .title-body{
    font-size: 14px !important;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    max-width: 180px;
    text-align: center;
  }
  .carrier{
    margin-top: 10px;
  }
  .title-link a{
    font-size: 17px !important;
    line-height: 1.23536 !important;
    font-weight: 400 !important;
  }
  .right-white:after{
    width: 5px !important;
    height: 5px !important;
    margin-bottom: 1.5px;
  }
  .right:after{
    width: 5px !important;
    height: 5px !important;
    margin-bottom: 1.5px;
  }
  .bg-img1{
    background-image: url("../image/sec1/iphone_12_updated__jepm2xpxncuy_small_2x.jpg") !important;
  }
  .bg-img2{
    background-image: url("../image/sec2/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg") !important;
  }
  .bg-img3{
    background-image: url("../image/sec3/hero_ipad_pro_non_avail__fcrsmhs4b7ma_small_2x.jpg") !important;
  }
  .bg-img1, .bg-img3, .bg-img2{
    height: 500px !important;
    background-size:734px 548px !important;
  }
  .title{
    padding-top: 37px !important;
  }
  .child1{
    background-image: url(../image/grid1/promo_imac__crg641tip4q6_small_2x.jpg) !important;
  }
  .child2{
    background-image: url(../image/grid2/promo_watch_series_6_lte__f8lrasjnry2y_small_2x.jpg) !important;
  }
  .child3{
    background-image: url(../image/grid3/promo_bts__bg3cb4kaoqoi_small_2x.jpg) !important;
  }
  .child4{
    background-image: url(../image/grid4/tile__cauwwcyyn9hy_small_2x.jpg) !important;
    height: 500px !important;
    background-size: 734px 285px !important;
  }
  .child5{
    background-image: url(../image/grid5/tile__cauwwcyyn9hy_small_2x.jpg) !important;
  }
  .child6{
    background-image: url(../image/grid6/promo_mr_corman__fogppmig13iy_small_2x.jpg) !important;
  }
  .child1, .child2, .child3, .child5, .child6{
    background-size: 734px 548px !important;
    height: 500px !important;
  }
  .grid-container{
    grid-template-columns:repeat(auto-fit, minmax(353px,1fr)) !important;
  }
  .grid-item{
    height: 500px !important;
  }
  .grid .title{
    font-size: 32px !important;
    line-height: 1.125 !important;
    font-weight: 600 !important;
    letter-spacing: .002em !important;
    margin: 0 !important;
  }
  .grid .title-sub{
    font-size: 19px !important;
    line-height: 1.21053 !important;
    font-weight: 400 !important;
    letter-spacing: .012em !important;
    
  }
  .grid-4-item .title-sub{
    max-width: 190px;
  }
  .grid-2-item .title{
    
    padding-top: 22px !important;
  }
  .grid-3-item .title{
    max-width: 290px;
  }
  .grid-4-item .title{
   
    padding-top: 22px;
  }
  .cormanlogo{
    width: 200px;
  }
  .tvlogo{
    margin-top: 40px !important;
  }
}




.white-text .title,
.white-text .title-sub {
  color: white;
}
.img-tv {
  height: 30px;
  width: 80px;
}
/*--------- grid --------*/

.grid-item {
  height: 580px;
}

.child1 {
  background-image: url(../image/sec1/img11.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 580px;
  background-color: #fafafa;
}

.child2 {
  background-image: url(../image/sec1/img12.jpg);
  background-color: black;
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 580px;
}

.child3 {
  background-image: url(../image/sec2/img21.jpg);
  background-color: #b2dded;
  background-position: bottom center;
  background-repeat: no-repeat;

  height: 580px;
}
.child4 {
  background-image: url(../image/grid4/tile__cauwwcyyn9hy_large.jpg);
  background-color: #fbfbfd;
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 580px;
}
.child5 {
  background-image: url(../image/sec3/tile__cauwwcyyn9hy_large.jpg);
  background-color: #fbfbfb; /* Used if the image is unavailable */
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 580px;
}
.child6 {
  background-image: url(../image/grid6/promo_mr_corman__fogppmig13iy_large.jpg);
  background-color:#7dd0c6; /* Used if the image is unavailable */
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat;
  height: 580px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
}
/*
.grid-1-item {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-2-item {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-3-item {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-4-item {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-5-item {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-6-item {
  grid-area: 3 / 2 / 4 / 3;
}
*/
/* arrow right */
.right:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2997ff;
  border-right: 2px solid #2997ff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-white:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  border-top: 2px solid #06c;
  border-right: 2px solid #06c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-grid:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 5px;
  height: 5px;
  border-top: 2px solid #06c;
  border-right: 2px solid #06c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* arrow north east */
.arrow-north-east::after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  width: 8px;
  height: 8px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tvlogo{
  margin-top: 60px;
}

/* =================================================================================== */
/* ===================================  Footer =================================== */
/* =================================================================================== */

footer{
  margin-top: 12px;
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 1em;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
 
 
}
.footer1{
  color: #86868b;
  border-bottom:1px solid  #d2d2d7;
  padding-bottom: 15px;
}

footer a{
  text-decoration: none;
  color: #515154;
}

.footer2{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  line-height: 23px;
}


footer li{
  list-style-type: none;
  color: #515154;
 
}
footer h3{
  font-size: 12px;
  line-height: 1.33337;
  letter-spacing: -.01em;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: .8em;
  color: #303033;
}
li a{
  text-decoration: none;
  color: #515154;
}

.footerp a{
  color: #06c;
}
.footerp{
  padding-bottom: 10px;
  border-bottom:1px solid  #d2d2d7;
}

.footer3{
  margin-bottom: 15px;
 margin-top: 5px;
 display:flex;
  justify-content: space-between;
}
.f3-2{
  display: flex;
  margin-right: 160px;
 
}
.f3-2 a{
  padding-left: 10px;
  padding-right: 10px;
   ;
}
.f3-2-1{
  border-right: 1px solid  #d2d2d7;
}
.footercontent{
  margin: 0 auto;
  padding: 17px 0 11px;
  max-width: 980px;
}
li a:hover{
  text-decoration: underline;
}
.footer1 a:hover{
  text-decoration: underline;
}
.footer3 a:hover{
  
/*--------------- fonts ----------------------*/
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff2)
      format("woff2"),
    url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff)
      format("woff"),
    url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.ttf)
      format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.eot);
  src: url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2)
      format("woff2"),
    url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff)
      format("woff"),
    url(../wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.ttf)
      format("truetype");
}
